    <nav class="bg-white shadow-lg sticky top-0 z-50">
        <div class="max-w-7xl mx-auto px-4">
            <div class="flex justify-between items-center py-2">
                <a href="{% url 'home' %}" class="text-2xl font-bold text-black">PhotoGallery</a>
                
                <div class="flex items-center space-x-4">
                    {% if user.is_authenticated %}
                        <span class="text-gray-700">Welcome, {{ user.username }}</span>
                        <a href="{% url 'upload_photo' %}" class="text-gray-700 hover:text-blue-600">Upload</a>
                        <a href="{% url 'profile' %}" class="text-gray-700 hover:text-blue-600">Profile</a>
                        <a href="{% url 'logout' %}" class="bg-black text-white px-4 py-2 rounded hover:bg-gray-500 duration-300">Logout</a>
                    {% else %}
                        <a href="{% url 'login' %}" class="text-gray-700 hover:text-blue-600">Login</a>
                        <a href="{% url 'django_registration_register' %}" class="bg-black text-white px-4 py-2 rounded hover:bg-blue-700">Register</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>